* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.videodemo {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.panels {
    flex: 1;
    display: flex;
    flex-direction: row;
    /*align-content: stretch;*/
    /*align-items: stretch;*/
}

.panels > * {
    flex-basis: 0;
    flex-grow:1;
    padding: 2em;
}

video {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding:1em;
    min-height: 5em;
    text-align: center;
    /*background-color: rgba(0, 51, 102, 0.4);*/
    flex: none;
}
